// color palettes
$blue-6: #108ee9;
$blue-1: tint($blue-6, 10%); 
$blue-2: tint($blue-6, 20%); 
$blue-3: tint($blue-6, 30%); 
$blue-4: tint($blue-6, 40%); 
$blue-5: tint($blue-6, 50%);

$blue-7: tint($blue-6, 70%);
$blue-8: tint($blue-6, 80%);
$blue-9: tint($blue-6, 90%);
$blue-10: tint($blue-6, 100%);

$purple-6: #7265e6;
$purple-1: tint($purple-6, 10%);
$purple-2: tint($purple-6, 20%);
$purple-3: tint($purple-6, 30%);
$purple-4: tint($purple-6, 40%);
$purple-5: tint($purple-6, 50%);

$purple-7: tint($purple-6, 70%);
$purple-8: tint($purple-6, 80%);
$purple-9: tint($purple-6, 90%);
$purple-10: tint($purple-6, 100%);

$cyan-6: #00a2ae;
$cyan-1: tint($cyan-6, 10%);
$cyan-2: tint($cyan-6, 20%);
$cyan-3: tint($cyan-6, 30%);
$cyan-4: tint($cyan-6, 40%);
$cyan-5: tint($cyan-6, 50%);

$cyan-7: tint($cyan-6, 70%);
$cyan-8: tint($cyan-6, 80%);
$cyan-9: tint($cyan-6, 90%);
$cyan-10: tint($cyan-6, 100%);

$green-6: #00a854;
$green-1: tint($green-6, 10%);
$green-2: tint($green-6, 20%);
$green-3: tint($green-6, 30%);
$green-4: tint($green-6, 30%);
$green-5: tint($green-6, 50%);

$green-7: tint($green-6, 70%);
$green-8: tint($green-6, 80%);
$green-9: tint($green-6, 90%);
$green-10: tint($green-6, 100%);

$pink-6: #f5317f;
$pink-1: tint($pink-6,10%);
$pink-2: tint($pink-6,20%);
$pink-3: tint($pink-6,30%);
$pink-4: tint($pink-6,40%);
$pink-5: tint($pink-6,50%);

$pink-7: tint($pink-6,70%);
$pink-8: tint($pink-6,80%);
$pink-9: tint($pink-6,90%);
$pink-10: tint($pink-6,100%);

$red-6: #f04134;
$red-1: tint($red-6,10%);
$red-2: tint($red-6,20%);
$red-3: tint($red-6,30%);
$red-4: tint($red-6,40%);
$red-5: tint($red-6,50%);

$red-7: tint($red-6,70%);
$red-8: tint($red-6,80%);
$red-9: tint($red-6,90%);
$red-10: tint($red-6,100%);

$orange-6: #f56a00;
$orange-1: tint($orange-6,10%);
$orange-2: tint($orange-6,20%);
$orange-3: tint($orange-6,30%);
$orange-4: tint($orange-6,40%);
$orange-5: tint($orange-6,50%);

$orange-7: tint($orange-6,70%);
$orange-8: tint($orange-6,80%);
$orange-9: tint($orange-6,90%);
$orange-10: tint($orange-6,100%);

$yellow-6: #ffbf00;
$yellow-1: tint($yellow-6,10%);
$yellow-2: tint($yellow-6,20%);
$yellow-3: tint($yellow-6,30%);
$yellow-4: tint($yellow-6,40%);
$yellow-5: tint($yellow-6,50%);

$yellow-7: tint($yellow-6,70%);
$yellow-8: tint($yellow-6,80%);
$yellow-9: tint($yellow-6,90%);
$yellow-10: tint($yellow-6,100%);
